{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <script id="page_script" type="text/javascript" src="{% static 'js/jquery/jquery-3.4.1.min.js' %}"></script>
    <script id="page_script" type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script id="page_script" type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-social-gh-pages/bootstrap-social.css' %}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">  
    <link rel="icon" href="{% static 'img/logo.png' %}">   
    
    <title>{{ page_name|title }} - Full Stack Crafts</title>
</head>
<body>

        <header id="navbar" class="nav-down">
        <nav id="nav_bar" class="navbar navbar-expand-lg">
            <div class="container container-fluid toggle-container">
                <div>
                    <a class="navbar-brand navbar-brand-img" href="{% url 'fsc-home' %}"><img src="{% static 'img/logo_nav_bar.png' %}"></img></a>
                    <a class="navbar-brand navbar-brand-name" href="{% url 'fsc-home' %}">FULL STACK CRAFTS</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'fsc-home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fsc-projects' %}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fsc-info' %}">Site-Info</a>
                    </li>
                    <li class="nav-item dropdown">
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span><img class="user-dp-nav" src="{{ user.profile.dp.url }}"></img></span>
                        </a>
                            <div onclick="event.stopPropagation();" class="dropdown-menu dropdown-menu-right logged-in-dd" aria-labelledby="navbarDropdown">
                                <div class="dropdown-item user-fn-btn">{{ user.first_name }} {{ user.last_name }}<br><span class="navbar-username">{{ user.username }}</span></div>
                                <a class="dropdown-item no-bg-btn" href="{% url 'fsc-users-current-profile' %}">Profile</a> 
                                <a class="dropdown-item no-bg-btn" href="{% url 'fsc-settings' %}">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item no-bg-btn" href="{% url 'fsc-users-logout' %}">Logout</a>
                            </div>
                        
                        {% else %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                            <div onclick="event.stopPropagation();" class="dropdown-menu dropdown-menu-right form" aria-labelledby="navbarDropdown">
                                {% block login_form %}
                                    {% include "users/login_form.html" %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    </li>
                </ul>
                </div>
            </div>
          </nav>
        </header>

    <div id="{{ page_name }}" class="container container-fluid">
      
        <div class="main-area">
            <!-- <div class="receive_alerts">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == "display" %}
                            <div class="alert alert-{{ message.tags }}">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <span class="alert-message">{{ message }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div> -->
                {% block content %}{% endblock content %}    
        </div>
        

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

    <script>

        //Change class name to current for current webpage using the finename
        (function(){
            var n = 0

            // for(i = 0; i < document.getElementsByClassName("nav-link dropdown-toggle").length; i++){
            //     if(document.getElementsByClassName("nav-link dropdown-toggle")[i].innerText.trim().toLowerCase() == "{{ page_name }}".toLowerCase()){
            //         document.getElementsByClassName("nav-link dropdown-toggle")[i].className = "nav-link dropdown-toggle nav-link-current";
            //         return;
            //     }
            // }

            for(i = 0; i < document.getElementsByClassName("nav-link").length; i++){
                if(document.getElementsByClassName("nav-link")[i].innerText.toLowerCase() === "{{ page_name }}".toLowerCase()){
                    document.getElementsByClassName("nav-link")[i].className = "nav-link nav-link-current";
                    return;
                }
            }
        })();


    </script>

</body>

</html>