{% load static %}

<div class="dropdown-form mb-2 mr-sm-2">

        <div class="login-error-msg">
            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == "login_error" %}
                        Invalid Credentials
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <form class="form" action="{% url 'fsc-users-login' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" method="post">
            {% csrf_token %}
            <label class="sr-only" for="l_uname">Username / Email</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="l_uname" placeholder="Username / Email" name="email">
            <label class="sr-only" for="l_pword">Password</label>
            <input type="password" class="form-control mb-2 mr-sm-2" id="l_pword" placeholder="Password" name="password">
        
            <div class="form-check mb-2 mr-sm-2 form-center-elem">
                <input class="form-check-input" type="checkbox" id="l_submit" name="rem_me">
                <label class="form-check-label" for="l_submit">Remember me</label>
            </div>
            <input type="hidden" id="req_path" name="req_path" value="{{ request.path }}">
            <div class="form-center-elem">
                <button type="submit" class="btn btn-dark mb-2 user-form" name ="login_form">Log In</button>
            </div>
            <div class="form-center-elem">
                <span>
                <a class="fg-password" href="#" class="">Forgot password?</a>
                  |  
                <a class="create-acc" href="{% url 'fsc-users-register' %}" class="">Create Account</a>
                </span>
            </div>
        </form>
        <div class="dropdown-divider"></div>
        {% block sm_btns %}
            {% include "users/sm_btns_login.html" %}
        {% endblock %}
    </div>

</div>