{% extends "main_webapp/base.html" %}
{% load static %}
{% block content %}

<div id=Registerform >
    <div class="dropdown-form mb-2 mr-sm-2">
            <form class="form" action="{% url 'fsc-users-register' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" method="post">
                {% csrf_token %}
                <!-- <label class="sr-only" for="inlineFormInputName2">Username</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Username" name="username"> -->
                <label class="sr-only" for="inlineFormInputName2">Email</label>
                <input type="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Email" name="email">
                <label class="sr-only" for="inlineFormInputName2">Password</label>
                <input type="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Password" name="password1">
                <label class="sr-only" for="inlineFormInputName2">Confirm Password</label>
                <input type="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Confirm Password" name="password2">
                <label class="sr-only" for="inlineFormInputName2">First Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="First Name" name="first_name">
                <label class="sr-only" for="inlineFormInputName2">Last Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Last Name" name="last_name">

            
                <div class="form-check mb-2 mr-sm-2 form-center-elem">
                    <input class="form-check-input" type="checkbox" id="inlineFormCheck" name="send_updates">
                    <label class="form-check-label" for="inlineFormCheck">
                    Receive Updates
                    </label>
                </div>
                <input type="hidden" id="req_path" name="req_path" value="{{ request.path }}">
                <div class="form-center-elem">
                    <button type="submit" class="btn btn-dark mb-2 user-form" name ="login_form">Sign Up</button>
                </div>
                <div class="form-center-elem">
                    <span>
                    <a class="create-acc" href="{% url 'fsc-users-login' %}" class="">Already have an account?</a>
                    </span>
                </div>
            </form>
            <div class="dropdown-divider"></div>
            {% block sm_btns %}
                {% include "users/sm_btns_login.html" %}
            {% endblock %}
        </div>

    </div>
</div>


    
{% endblock content %}