

html {
  overflow-y:scroll;
}
/* 
@media (min-width:600px) {
body {
  font-size: 16px;
}
}
  
@media (min-width:800px) {
body {
  font-size: 18px;
}
} */

@media (min-width:300px) {

html,body {
    height:100%;
}

body, .container {background-color:rgb(255, 255, 255);
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1rem;}
  
.empty-div {height: 1rem;}

/* .top-strip {display:flex;
            background-color: rgba(34, 34, 34, 1);} */

header {
  height: 4rem;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1000;
}

/* we'll add this class using javascript */
.nav-up {
  top: -4rem;
}

#nav_bar {height: 4rem;
        padding-left: 0;
        padding-right: 0;}

#nav_bar > .container {background-color: rgba(34, 34, 34, 1);
                      height: 3rem;}

#nav_bar, .navbar-nav {background-color: rgba(34, 34, 34, 1);
                      font-size: 1rem;}

.navbar-brand-name {display: inline;
                      margin-right: 0; }

.navbar-brand-name, .nav-link, .navbar-brand-name:hover, .nav-link:hover {color: rgb(212, 212, 212);
                                                                font-size: 1rem;}

/* .navbar-brand-name {font-size: 1.5rem;} */

.navbar-brand-img img {height: 0.5em;
                      margin-left: 1em;}

.navbar-toggler {margin-right: 1em;}
.navbar-toggler-icon {background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}

/* @media (max-width:700px) {
  .navbar-brand-img {display: none;}
  }
  } */

@media (max-width:992px) {
  .navbar-collapse.collapse.show {
    max-height: 60vh;
    overflow-y: auto;
  }
  }

.nav-link-current, .nav-link-current:hover {font-weight: bold;
                  color: rgb(255, 255, 255);}

.nav-link:hover, .nav-link-current:hover {text-decoration: underline;}

/* .nav-item {
  align-self: center;
} */

@media (min-width:993px) {
  .nav-item {
    align-self: center;
  }
}

@media (max-width:992px) {
  .nav-item {
    padding-left: 1em;
    padding-right: 1em;
    
  }
  .navbar-collapse {width: 1rem;}
}

#navbarDropdown:hover {text-decoration: none;}

.fg-password, .fg-password:hover, .validation-alert {color: rgb(180, 54, 54);}

.create-acc, .create-acc:hover {color: rgb(29, 116, 55);}

 .fg-password, .create-acc, .validation-alert {font-size: 0.8em;}

 .validation-alert {text-align: left;
                    margin-bottom: 0;}

 .login-error-msg {font-size: 0.75em;
                   /* font-weight: bold; */
                   color: rgb(180, 54, 54);
                  margin-bottom: 0.75em;
                  margin-top: 0.75em;
                  text-align: center;}

#content-block  {display: flex;
                  height: 100%;
                  justify-content: center;
                  margin: 0;}
  
.user-fn-btn , .user-fn-btn.active, .user-fn-btn:active,  .user-fn-btn:hover  {
  color: rgb(34, 34, 34);
  background-color:rgb(255, 255, 255);
  padding: 0.7em 2em 0.7em 2em;
  margin: 0;
  text-align: center;
  /* border-bottom: .1em solid rgb(212, 212, 212); */
  }

.user-fn-btn, .dropdown-divider {border-bottom: .1em solid rgb(212, 212, 212)}

.dropdown-form {padding-left:0.75em;
  padding-right: 0.75em;}

.form-title {font-size: 1em;}

#settings input.form-control, #settings .form-title, #settings .form-group label {font-size: 0.8em !important;}

 .form-center-elem {text-align: center;
                  padding-top: 0.4em;}

#inlineFormCheck {height: 0.75em;}

.in-dropdown-div {padding-bottom: 0.75em;}

/* .social-btn.active, .social-btn:active,  .logout-btn.active , .logout-btn:active {
  color: #16181b;
  background-color: #fff;
} */
.logged-in-dd {padding-top: 0;
              margin-top: 0;}

.no-bg-btn {padding-top: 0.5em;}

.no-bg-btn.active, .no-bg-btn:active  {
  color: #16181b;
  background-color: #fff;
}

.navbar-username {font-size: 0.8em;}

.social-btn a {padding: 0em 1em 0em 1em;}

/* .sm-btns {display: flex;
          justify-content: center;} */

.sm-btn {max-width: 1.75em;
        max-height: 1.75em;
        border-radius: 0.2em;}

.main-area {
  margin: 0 1.25% 0 1.25% !important;
  padding-top: 6em;
  display: block;
height: 100%;}

#inpageLoginform, #Registerform {display: inline-block;
                                border-color: rgb(212, 212, 212);
                                border-style:solid;
                                border-width: thin;
                                box-shadow: 0.5em 0.5em rgb(212, 212, 212); }

.miniature-msg {font-size: 0.75em;
  font-style: italic;}

/* #inpageLoginform .form-control, #Registerform .form-control {padding-left: 0px;
  padding-right: 0px;}     */

.fname-lname {display: flex;}

/* .tab-text.active {color: rgb(34, 34, 34) !important} */
.tab-text, .tab-text:hover  {color: rgb(122, 122, 122)}

.nav-pills .nav-link {
  border-radius: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(34, 34, 34);
  background-color: rgb(248, 248, 248);
}

 #settings, .settings {height: 100%;}

#settings h4 {margin: 0 0 1% 0;
            padding: 0;}
/* .settings {border-color: rgb(212, 212, 212);
          border-style: solid;
          border-width: thin;
          border-bottom: 0;} */

/* .settings>.settings-child {padding-top: 1%;} */

.nav-side-tabs>.nav-link {border-bottom-style: solid;
                          border-bottom-color: rgb(212, 212, 212);
                          border-bottom-width: thin; }

.left-pane {border-right-color: rgb(212, 212, 212);
            border-right-style: solid;
            border-right-width: thin;
            padding-left: 0;
            padding-right: 0;}

.tab-content form {font-size: 1em;}

@media (max-width:375px) {

  .tab-content form {font-size: .77em;}
  .tab-content form .form-check-input {height: 0.75em;}
}

.form-half {width: 50%;}


#settings .form-inline {padding: 0;}

#settings .form-inline label {justify-content: left;
                    width:100%;
                    margin-bottom: 0.5rem;}

#settings .form-inline .form-control {width:50%;
                                      height: calc(1.5em + 0.5rem + 0.15em);
                                      margin-right: 1em;}

#settings .form-inline .form-control.text-area {height: calc(4em + 1.5rem + 0.15em);
                                                font-size: 0.8em;}

#settings .user-dp-preview {width: 4em;
                height: 4em;
                display: block;
                margin-left: 0;
              padding-left: 0; }

#settings input[type="file"] {
  display: block;
  height: 3em;
}

#settings .dp-input {width: 100% !important;
                    margin-top: 0.2em;
                    border: none;
                    margin-left: 0;
                    padding-left: 0; }

#home .main-area, #login .main-area, #register .main-area {margin-left: 2%;
  margin-right: 2%;
  line-height: 1.40;
  text-align: center;}

/* .receive_alerts {display: block;
                height: 50px;
                align-content: center;
                align-items: center;} */

.welcome-msg {margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 1%;
  display: block;
  text-align: center;
  font-size: 1.25em;
  position: relative;
  color:   rgb(92, 92, 92) ;
  font-weight: bold;}
  /* text-decoration:underline;} */

/*  */

.logged-in {text-align: center}

.logged-in a {color: rgb(38, 123, 184);
              font-weight: bold;}


.alert {display: inline-block;
        padding: 0.5rem 2rem;
        margin-bottom: 0px;}
        
.alert-message {padding-right: 2rem}

#about .main-area {line-height: 1.40;}

.website-info h3, .developer-info h3 {margin-top: 0;
                                       margin-bottom: 0.7em;
                                      font-size: 1.25em}

.website-info, .developer-info, .projects-info {text-align: justify;}

.website-info, .projects-info {display: block;}

.developer-info {display: block;}

.developer-img-wrap {padding-right: 2%;
                    float: left;
                    text-align: center;
                    font-style: italic;
                    width : 16.5em;
                    height: 18em;}

#developer-img {width : 15.5em;
        height: 17.5em;}

.developer-info-text {
          margin: 0;
          padding: 0;
          font-style:normal;}

.kural-quote {
  display: block;
    margin :auto;
      text-align: center;}

#projects li {margin-bottom: 1em;}

.opinion_post {display: block;
              margin-bottom: 5px;
              background-color: rgb(247, 247, 247);}

.opinion_post p, img {margin-left: 1%;}

.opinion_post .opinion_desc {padding-bottom: 1%;}

.opinion_post .opinion_title {padding-bottom: 0;
                             margin-bottom: 0;}
 
.author_ts {padding-top: 0;
                          margin-top: 0;}

.opinion_post {padding-top: 0;
              margin-top: 2%;}

.opinion_post textarea {
    display: block;
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    width: 50%;
    font-size: 15px;
    height: 17px;
    letter-spacing: 0.3px;
    padding: 20px;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
    }

.opinion_post .developer_img {height: 60px;
                              float: left;
                             padding-right: 10px;
                             padding-bottom: 10px;}

.opinion_post .opinion_title {height: 60px;
                              font-size: 40px;
                              font-weight: bold;
                              padding-bottom: 10px;}

.opinion_post .author_ts {font-size: small;
                          font-style: italic;}

.opinion_post .ts_user_link {color: rgb(33, 63, 83);}

.user-profile .tab-content {margin-left:0.75em;
              margin-right: 0.75em;
              margin-top: 1.25em;
              margin-bottom: 0.75em;}
              
.user-profile {display: flex;
              width: 100%;}

.user-dp {width: 16em;
          height: 16em;}
          
.user-dp-name {text-align: center;}
              /* float: right;} */

.user-dp-nav {width: 2.5em;
              height: 2.5em;
              border-radius: 50%;
              vertical-align: bottom;}

.profile-name {margin-top: 0.75em;}

.text-icon {height: 1.25em;
          width: 1.25em;}

.user-info {display: block;
          width: 100%;}

.user-about-table {width: 50%;}

.pf-h {font-weight: bold;}

}